<%@ page import="demo.Kommune" %>
<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main">
    <g:set var="entityName" value="${message(code: 'kommune.label', default: 'Kommune')}"/>
    <title><g:message code="default.list.label" args="[entityName]"/></title>
</head>

<body>
<a href="#list-kommune" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>

<div class="nav" role="navigation">
    <ul>
        <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
        <li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]"/></g:link></li>
    </ul>
</div>

<div id="list-kommune" class="content scaffold-list" role="main">
    <h1><g:message code="default.list.label" args="[entityName]"/></h1>
    <g:if test="${flash.message}">
        <div class="message" role="status">${flash.message}</div>
    </g:if>
    <table>
        <thead>
        <tr>

            <g:sortableColumn property="nr" title="${message(code: 'kommune.nr.label', default: 'Nr')}"/>

            <g:sortableColumn property="navn" title="${message(code: 'kommune.navn.label', default: 'Navn')}"/>

            <g:sortableColumn property="areal" title="${message(code: 'kommune.areal.label', default: 'Areal')}"/>

            <g:sortableColumn property="kontaktEmail" title="${message(code: 'kommune.kontaktEmail.label', default: 'Kontakt Email')}"/>

            <g:sortableColumn property="kontaktTelefon" title="${message(code: 'kommune.kontaktTelefon.label', default: 'Kontakt Telefon')}"/>

        </tr>
        </thead>
        <tbody>
        <g:each in="${kommuneInstanceList}" status="i" var="kommuneInstance">
            <tr class="${(i % 2) == 0 ? 'even' : 'odd'}">

                <td><g:link action="show" id="${kommuneInstance.id}">${fieldValue(bean: kommuneInstance, field: "nr")}</g:link></td>

                <td>${fieldValue(bean: kommuneInstance, field: "navn")}</td>

                <td>${fieldValue(bean: kommuneInstance, field: "areal")}</td>

                <td>${fieldValue(bean: kommuneInstance, field: "kontaktEmail")}</td>

                <td>${fieldValue(bean: kommuneInstance, field: "kontaktTelefon")}</td>

            </tr>
        </g:each>
        </tbody>
    </table>

    <div class="pagination">
        <g:paginate total="${kommuneInstanceCount ?: 0}"/>
    </div>
</div>
</body>
</html>
